<div class ="container">

    <div class="headerAdmin"> 
      <h1>Listado de vehículos promocionados</h1>
      <span class="button"><a [routerLink]="['/addUsedVehicle']"> Añadir nuevo vehículo </a></span>
    </div>
  
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>ID vehículo ocasión</th>
            <th>ID vehículo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Matricula</th>
            <th>Distancia recorrida</th>
            <th>Id usuario propietario</th>
            <th>Color</th>
            <th>Precio</th>
            <th>Año</th>
            <th>Distancia</th>
            <th>Consumo</th>
            <th>Velocidad Punta</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of usedVehicle; let i = index">
            <ng-container *ngIf="vehicles[i]">
              <td>{{ vehicle.id_usedVehicle }}</td>
              <td>{{ vehicle.id_vehicle }}</td>
              <td>{{ vehicles[i].trademark }}</td>
              <td>{{ vehicles[i].model }}</td>
              <td>{{ vehicles[i].registration }}</td>
              <td>{{ vehicles[i].mileage }}</td>
              <td>{{ vehicles[i].id_user }}</td>
              <td>{{ vehicle.color }}</td>
              <td>{{ vehicle.price }}</td>
              <td>{{ vehicle.year }}</td>
              <td>{{ vehicle.mileage }}</td>
              <td>{{ vehicle.aceleracion }}</td>
              <td>{{ vehicle.emisiones }}</td>
              <td [routerLink]="['/updateUsedVehicle']" [queryParams]="{ id: vehicle.id_usedVehicle }">
                <span class="icon">
                  <i class="fas fa-pencil-alt"></i>
                </span>
              </td>
              <td (click)="deleteVehicle(vehicle.id_usedVehicle)">
                <span class="icon">
                  <i class="fas fa-trash-alt"></i>
                </span>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
