<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <p>Identificate en nuestra plataforma</p>

    <form class="col-md-5 ml-0 pl-0" #loginForm='ngForm' (ngSubmit)="onSubmit(loginForm)">

        <div class="form-group">
            <label for="user">Usuario: </label>
            <input type="text" name="user" id="user" placeholder="¿Cual quieres que sea tu nombre de usuario?" class="form-control" 
                    #user="ngModel" [(ngModel)]="userData.user" required pattern="[a-zA-Z0-9]+" >  <!-- enlazamos el valor de name diciendo que pertenece a user-name y ademas establecemos una validacion para el campo: pattern="[a-zA-Z]"-->
                    <small *ngIf="!user.valid && user.touched" class="invalid-feedback d-block"><!-- Si el campo que introducimo no es correcto saltara mensaje de error (con d-block se muestra el msj)-->
                        El nombre de usuario no es valido
                    </small>
        </div>

        <div class="form-group">
            <label for="pass">Contraseña: </label>
            <input type="text" name="pass" id="pass" placeholder="¿Cual quieres que sea tu contraseña?" class="form-control"
                #pass="ngModel" [(ngModel)]="userData.pass" required>
                <small *ngIf="!pass.valid && pass.touched" class="invalid-feedback d-block">
                    Se debe indicar una contraseña por su seguridad
                </small>
        </div>

        <div class="form-group">
            <input type="submit" value="Identificarme" class="btn btn-success" [disabled]="loginForm.invalid"><!--no dejamos enviar-->
        </div>
    </form>

</div>