<header class="header">
  <h1 class="title">AUTOMÓVILES RODAL</h1>
</header>
<div class="main">

  <div class="slider">
    <img alt="Imagen 1" *ngFor="let image of images; let i = index" [src]="image.src" [alt]="image.alt" [class.active]="i === currentImage">
  </div>

  <div class="content">
    <h1>Tu taller con garantía y compromiso</h1>
    <p>Empresa con más de 30 años de trayectoria dedicada a la reparación, mantenimiento y venta de vehículos.</p>
  </div>

  <div class='content-Section-title'>
    <p class="title-section">Trabajamos para su tranquilidad</p>
  </div>

  <div class="content-Section">
    <div class="section sectionText">
      <p>En Automóviles Rodal, nos dedicamos a brindar un servicio integral de reparaciones y venta de vehículos, con el objetivo de garantizar su tranquilidad en 
        todo momento.</p>

      <p>Sabemos que su automóvil es una parte fundamental de su vida diaria, por lo que entendemos la importancia de mantenerlo en óptimas condiciones. 
        Nuestro taller automovilístico cuenta con un equipo de profesionales altamente capacitados y experimentados en el sector, quienes se encargarán de 
        brindarle un servicio de calidad y confianza.</p>

      <p>En Automóviles Rodal, nos esforzamos por establecer relaciones duraderas con nuestros clientes, basadas en la confianza y la transparencia. 
        Por eso, nos comprometemos a mantener una comunicación clara y accesible, explicándole de manera comprensible cualquier aspecto relacionado con 
        su vehículo y las opciones disponibles.</p>
    </div>
    <div class="section sectionImg">
      <img alt="Imagen 1" src="./assets/img/trabajador.jpg">
    </div>
  </div>
  <br>

  <div class='content-Section-title'>
    <p class="title-section">Nos esforzamos para ofrecerle el mejor servicio</p>
  </div>
  <div class="content-Section">
    <div class="section sectionImg">
      <img alt="Imagen 1" src="./assets/img/vehiculoOcasion.jpg">
    </div>

    <div class="section sectionText">
      <p>En cuanto a las reparaciones, nos esforzamos por diagnosticar y solucionar cualquier problema que pueda surgir en su vehículo de manera eficiente y efectiva. 
        Trabajamos con las últimas herramientas y tecnologías para garantizar un trabajo preciso y duradero. Además, utilizamos repuestos de calidad, lo que nos 
        permite ofrecerle una garantía en nuestras reparaciones.</p>

      <p>Pero eso no es todo. ¿Estás en busca de un automóvil de segunda mano en excelente estado? Rodal también tiene una sección dedicada a la venta de coches de 
        ocasión. Podrás explorar una amplia variedad de marcas y modelos, ver fotos detalladas y conocer las especificaciones de cada vehículo. Además, 
        nuestra plataforma garantiza la calidad y el historial de cada automóvil, proporcionando información precisa para que puedas tomar la mejor decisión de 
        compra.</p>

        <p>No pierdas más tiempo buscando talleres o luchando para encontrar el coche de tus sueños. Rodal está aquí para ayudarte en todo lo relacionado con el 
          mundo automovilístico. Regístrate ahora y únete a una comunidad apasionada por los autos, donde encontrarás todo lo que necesitas en un solo lugar.</p>
    </div>
  </div>
  <br>

  <div class="content-Section">
    <div class="section03">
      <p>Nos complace invitarlos a unirse a la emocionante aplicación de automóviles Rodal, donde podrán disfrutar de una experiencia única en el mundo del transporte sobre ruedas.</p>
      <p>¡Te esperamos en la aplicación de automóviles Rodal! ¡Descárgala hoy mismo y comienza a disfrutar de todas las ventajas que ofrecemos!</p>
      <a class="contact-button" href="">Registrate</a>
    </div>
    
  <script>
    // Script para cambiar automáticamente las imágenes del slider
    const slider = document.querySelector('.slider');
    const images = Array.from(slider.querySelectorAll('img'));
    let currentImage = 0;

    console.log(images);

    function showNextImage() {
      images[currentImage].classList.remove('active');
      currentImage = (currentImage + 1) % images.length;
      images[currentImage].classList.add('active');
    }

    setInterval(showNextImage, 3000); // Cambiar la imagen cada 3 segundos (3000 milisegundos)
  </script>
  

</div>
