<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automoviles Rodal</title>
</head>

<body>
  <nav class="menuContainer">
    <div class ="logo" >
      <a [routerLink]="['/inicio']">
        Automoviles Rodal
        <img src="./assets/img/rodal.png" class="d-inline-block align-top" alt="">
      </a>
    </div>
    <div class ="button" >
      <button class="menuToggle" (click)="toggleMenu()">☰</button>
    </div>

    <!--Menu cliente/empleado, solo sera mostrado para el cliente o el empleado-->
    <ul *ngIf="!identity || identity.rol !== 'admin'" class="menu" [ngClass]="{ 'unseen': isMenuOpen }">
      <li><a [routerLink]="['/inicio']">Inicio</a></li>
      <li><a href="#">Vehículos de Ocasión</a></li>
      <li><a href="#">Conócenos</a></li>
      <li *ngIf="identity"><a href="#">
        {{ identity.user | capitalize }}
      </a>
        <ul class="submenu">
          <li><a href="#">Vehículos</a></li>
          <li><a href="#">Reservas</a></li>
          <li><a href="#">Reparaciones</a></li>
          <li><a href="#">Facturas</a></li>
          <li><a [routerLink]="['/ajustes']">Ajustes</a></li>
        </ul>
      </li>
      <li *ngIf="!identity"><a [routerLink]="['/login']">Iniciar Sesión</a></li>
      <li *ngIf="!identity"><a [routerLink]="['/register']">Registrarse</a></li>
      <li *ngIf="identity"><a [routerLink]="['/logout/1']">Salir</a></li>
    </ul>

    <!--Menu administrador, solo sera mostrado para el administrador-->
    <ul *ngIf="identity && identity.rol === 'admin'" class="menu" [ngClass]="{ 'unseen': isMenuOpen }">
      <li><a [routerLink]="['/inicio']">Usuarios</a></li>
      <li><a href="#">Vehículos</a></li>
      <li><a href="#">Productos</a></li>
      <li *ngIf="identity"><a href="#">
        {{ identity.user | capitalize }}
      </a>
        <ul class="submenu">
          <li><a href="#">Vehículos</a></li>
          <li><a href="#">Reservas</a></li>
          <li><a href="#">Reparaciones</a></li>
          <li><a href="#">Facturas</a></li>
          <li><a [routerLink]="['/ajustes']">Ajustes</a></li>
        </ul>
      </li>
      <li *ngIf="!identity"><a [routerLink]="['/login']">Iniciar Sesión</a></li>
      <li *ngIf="!identity"><a [routerLink]="['/register']">Registrarse</a></li>
      <li *ngIf="identity"><a [routerLink]="['/logout/1']">Salir</a></li>
    </ul>
  </nav>

  <div class="content">
    
    <router-outlet></router-outlet><!--Muestra el componente asociado a la ruta que estamos mostrando-->

  </div>
</body>
</html>