/* Estilos para el menú */
body{
  padding: 4%;
}


.menu {
    list-style: none;
    margin: 2%;
    padding: 4%;
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    position: relative;
  }
  
  .menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  /* Estilos para el menú desplegable */
  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .menu li:hover .submenu {
    display: block;
  }
  
  .submenu li a {
    color: #666;
    text-decoration: none;
  }
  
  /* Estilos para el menú en resoluciones móviles */
  @media (max-width: 768px) {
    .menu {
      flex-direction: column;
    }
  
    .menu li {
      position: static;
    }
  
    .submenu {
      position: static;
      display: block;
      box-shadow: none;
      margin-top: 10px;
    }
  
    .submenu li a {
      color: #333;
    }
  }