.menuContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #E96348;
  height: 100px;
  position: fixed;
  padding: 0 20px;
  width: 100%;
  z-index: 32;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 27px;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.logo img {
  border-radius: 10px;
  width: 55px;
  margin-left: 10px;
}

.menu {
  display: flex;
  list-style: none;
  width: 73%;
  text-align: center;
  z-index: 32;
}

.menu li{
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px #E96348;
  position: relative;
  margin-right: 20px;
  min-width: 15%;
  background-color: #f1f1f1;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f1f1f1;
  border-radius: 15px;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menu li:hover{
  font-size: 17px;
  box-shadow: 0 4px 8px rgb(245, 160, 160);
}

.menu li ul {
    position: absolute;
    top: 100%;
    left: -45px;
    display: none;
    padding-top: 10px;
    min-width: 275px;
}

.menu li:hover ul {
  display: block;
}

.menu li ul li {
  margin-bottom: 5px;
}

.botonMenu {
  display: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}


/*movile tablet*/
@media (max-width: 1250px) {

  .botonMenu {
    display: block;
    background-color: #E96348;
    color: white;
  }

  .menu {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 120px;
    left: -5px;
  }

  .menu li{
    border-radius: 0px;
  }

  .menu .submenu5:hover{
    margin-bottom: 225px;
  }

  .menu .submenu4:hover{
    margin-bottom: 180px;
  }

  .menu .submenu3:hover{
    margin-bottom: 135px;
  }

  .menu .submenu2:hover{
    margin-bottom: 90px;
  }

  .menu .submenu1:hover{
    margin-bottom: 45px;
  }

  .menu li ul{
    width: 100%;
    left: 0;
  }

  .seen{
    display: none!important;
  }

  .unseen{
    display: block!important;
  }
}

