<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automoviles Rodal</title>
</head>

<body>
  <nav>
    <ul class="menu">
      <li>
        <img src="./assets/img/rodal.png" width="40" height="40" class="d-inline-block align-top" alt="">
      </li>
      <li><a [routerLink]="['/inicio']">Inicio</a></li>
      <li><a href="#">Vehículos de Ocasión</a></li>
      <li><a href="#">Conócenos</a></li>
      <li><a href="#">Cuenta</a>
        <ul class="submenu">
          <li><a href="#">Vehículos</a></li>
          <li><a href="#">Reservas</a></li>
          <li><a href="#">Reparaciones</a></li>
          <li><a href="#">Facturas</a></li>
          <li><a href="#">Métodos de Pago</a></li>
          <li><a href="#">Ajustes</a></li>
        </ul>
      </li>
      <li><a [routerLink]="['/login']">Iniciar Sesión</a></li>
      <li><a [routerLink]="['/register']">Registrarse</a></li>
      <li><a href="#">Salir</a></li>
      
    </ul>
  </nav>

  <router-outlet></router-outlet><!--Muestra el componente asociado a la ruta que estamos mostrando-->

</body>
</html>