/* Estilos para el menú */
* {
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content {
  margin: 2%;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.menuContainer {
  padding: 1%;
  background-color: #E96348;
  height: 100px;
}

.logo {
  width: 30%;
  float: right;
}

.logo a {
  display: flex;
  justify-content: right;
  text-align: center;
  align-items: center;
  gap: 10%;
  color: white;
  font-size: 27px;
}

.logo img {
  border-radius: 10px;
  width: 55px;
}

.menu {
  display: flex;
  position: relative;
  justify-content: left;
  align-items: center;
  width: 70%;
  gap: 2%;
  height: 60px;
}

.menu li {
  width: 16%;
  height: 51%;
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  border-radius: 7px;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 1);
}

.menu li:hover {
  font-size: 20px;
  color: white;
  box-shadow: 0px 8px 15px rgba(255, 255, 255, 1);
}

.menu li:hover a{
  display: flex;
  justify-content: center;
}

.menu li ul {
  display: none;
  position: absolute;
  z-index: 32;
}

.menu li:hover > ul {
  display: block;
  font-size: 15px;
}

.menu li:hover ul {
  width: 100%;
}

.menuToggle{
  display: none;
}


@media (max-width: 1060px) {

  .menu {
    display: block;
    width: 100%;
    bottom: 15%;
  }

  .menu li {
    width: 25%;
  }

  .unseen{
    display: none;
  }

  .logo{
    width: 90%;
  }

  .logo a{
    gap: 20%;
    height: 88px;
  }

  .submenu{
    left:25%;
    top: 50%;
  }

  .button{
    width: 10%;
    display: flex;
    justify-content: initial;
    align-items: center;
    height: 85px;
  }

  .menuToggle {
    display: block;
    background-color: #E96348;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }

}