<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Automoviles Rodal</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body class="main">
  <nav class="menuContainer">
    <div class ="logo" >
      <a [routerLink]="['/inicio']">
        Automoviles Rodal
        <img src="./assets/img/rodal.png" class="d-inline-block align-top" alt="">
      </a>
    </div>
    

    <!--Menu Usuario no registrado-->
    <button class="botonMenu" (click)="showMenu()">☰</button>
    <!--<button class="botonMenu" (click)="showMenu()" (click)="hideMenu()">☰</button>-->

    <ul *ngIf="!identity || identity.rol == ''" class="menu " [ngClass]="{ 'unseen': !isMenuVisible, 'seen': isMenuVisible }">
      <li (click)="disapear()"><a [routerLink]="['/inicio']">Inicio</a></li>
      <li (click)="disapear()"><a href="#">Vehículos de ocasión</a></li>
      <li (click)="disapear()"><a [routerLink]="['/conocenos']">Conócenos</a></li>
      <li (click)="disapear()" *ngIf="!identity"><a [routerLink]="['/login']">Iniciar Sesión</a></li>
      <li (click)="disapear()" *ngIf="!identity"><a [routerLink]="['/register']">Registrarse</a></li>
      <li (click)="disapear()" *ngIf="identity"><a [routerLink]="['/logout/1']">Salir</a></li>
    </ul>


    <!--Menu Usuario empleado/cliente registrado-->
    <ul *ngIf="identity && identity.rol != 'admin'" class="menu" [ngClass]="{ 'unseen': !isMenuVisible, 'seen': isMenuVisible }">
      <li (click)="disapear()" ><a [routerLink]="['/inicio']">Inicio</a></li>
      <li class="submenu4" *ngIf="identity">
        <a href="#">Operaciones</a>
        <ul>
          <li (click)="disapear()"><a href="#">Vehículos</a></li>
          <li (click)="disapear()"><a href="#">Promociones</a></li>
          <li (click)="disapear()"><a href="#">Reservas</a></li>
          <li (click)="disapear()"><a href="#">Reparaciones</a></li>
        </ul>
      </li>
      <li *ngIf="identity && identity.rol == 'employee'" class="submenu4">
        <a href="#">Gestión</a>
        <ul>
          <li (click)="disapear()"><a href="#">Pagos</a></li>
          <li (click)="disapear()"><a href="#">Métodos de pago</a></li>
          <li (click)="disapear()"><a href="#">Facturas</a></li>
          <li (click)="disapear()"><a [routerLink]="">Nóminas</a></li>
        </ul>
      </li>
      <li *ngIf="identity && identity.rol == 'client'" class="submenu3">
        <a href="#">Gestión</a>
        <ul>
          <li (click)="disapear()"><a href="#">Pagos</a></li>
          <li (click)="disapear()"><a href="#">Métodos de pago</a></li>
          <li (click)="disapear()"><a href="#">Facturas</a></li>
        </ul>
      </li>
      <li class="submenu1" *ngIf="identity">
        <a href="#">{{ identity.user | capitalize }}</a>
        <ul>
          <li (click)="disapear()"><a [routerLink]="['/ajustes']">Ajustes</a></li>
        </ul>
      </li>
      <li (click)="disapear()" *ngIf="identity"><a [routerLink]="['/logout/1']">Salir</a></li>
    </ul>

    <!--Menu administrador, solo sera mostrado para el administrador-->
    <ul *ngIf="identity && identity.rol == 'admin'" class="menu" [ngClass]="{ 'unseen': !isMenuVisible, 'seen': isMenuVisible }">
      <li (click)="disapear()" ><a [routerLink]="['/inicio']">Inicio</a></li>
      <li class="submenu3" *ngIf="identity">
        <a href="#">Usuarios</a>
        <ul>
          <li (click)="disapear()"><a href="#">Clientes</a></li>
          <li (click)="disapear()"><a href="#">Empleados</a></li>
          <li (click)="disapear()"><a href="#">Todos</a></li>
        </ul>
      </li>
      <li class="submenu4" *ngIf="identity">
        <a href="#">Operaciones</a>
        <ul>
          <li (click)="disapear()"><a href="#">Reservas</a></li>
          <li (click)="disapear()"><a href="#">Reparaciones</a></li>
          <li (click)="disapear()"><a href="#">Vehículos</a></li>
          <li (click)="disapear()"><a href="#">Promociones</a></li>
        </ul>
      </li>
      <li class="submenu4" *ngIf="identity">
        <a href="#">Gestión</a>
        <ul>
          <li (click)="disapear()"><a [routerLink]="['/services']">Servicios</a></li>
          <li (click)="disapear()"><a [routerLink]="['/productos']">Productos</a></li>
          <li (click)="disapear()"><a [routerLink]="['/suppliers']">Proveedores</a></li>
          <li (click)="disapear()"><a [routerLink]="['/categories']">Categorías</a></li>
        </ul>
      </li>
      <li class="submenu5" *ngIf="identity">
        <a href="#">Finanzas</a>
        <ul>
          <li (click)="disapear()"><a href="#">Pagos</a></li>
          <li (click)="disapear()"><a href="#">Nóminas</a></li>
          <li (click)="disapear()"><a href="#">Métodos de pago</a></li>
          <li (click)="disapear()"><a href="#">Descuentos</a></li>
          <li (click)="disapear()"><a href="#">Facturas</a></li>
        </ul>
      </li>
      <li (click)="disapear()" *ngIf="identity"><a [routerLink]="['/logout/1']">Salir</a></li>
    </ul>
  </nav>

  <div class="contentMain">
    
    <router-outlet></router-outlet><!--Muestra el componente asociado a la ruta que estamos mostrando-->

    
  </div>
  <app-footer></app-footer>

</body>
</html>