
<footer class="footer">

  <div class="footer-icons">
    <a href="https://www.facebook.com/autorodal/" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/autorodal/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
    <a href="https://wa.me/+64638278348" target="_blank" rel="noopener"><i class="fab fa-whatsapp"></i></a>
  </div>
  
  <div class="footer-links">
    <a class="border-link" href="/terminos" title="Términos y condiciones">Términos y condiciones</a>
    <a class="border-link"href="/privacidad" title="Política de privacidad">Política de privacidad</a>
    <a href="/faq" title="Preguntas frecuentes">Preguntas frecuentes</a>
  </div>

  <div class="derechos"><p>Derechos de Autor &copy; 2023 Automóviles Rodal. Todos los derechos reservados.</p></div>
</footer>
