/* You can add global styles to this file, and also import other style files */

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
  
ol, ul {
  padding-left: 1rem!important;
}

dl, ol, ul {
  margin-bottom: 0rem!important;
}

.contentMain{
  margin: 0px 2%;
  padding: 6% 2% 0 2%;
  background-color: #f9f9f9;
  min-height: 1000px;
}

.title {
  width: 100%;
  text-align: center;
  background-color: #E96348;
  color: white;
  padding: 10px; /* Agrega un poco de espacio interno alrededor del título */
  font-size: 24px; /* Ajusta el tamaño de fuente según tus preferencias */
  font-weight: bold; /* Resalta el título en negrita */
  text-transform: uppercase; /* Convierte el texto en mayúsculas */
  border-radius: 5px; /* Agrega bordes redondeados al título */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil al título */
}

/*Estilos generales contenido*/

.content h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.content {
  padding: 20px;
  text-align: center;
}

/*Estilos generales tabla --> Panel admin*/
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0;
  text-align: center;
}
  
th, td {
  padding: 12px;
  border: 1px solid black!important;
}
  
th {
  background-color: #E96348;
  color: #fff;
}
  
tr:nth-child(even) {
  background-color: #f2f2f2;
}
  
td:hover {
  background-color: #ddd;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1%;
}

.headerAdmin{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 2% 0;
}

.button{
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px #E96348;
  position: relative;
  min-width: 15%;
  background-color: #f1f1f1;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f1f1f1;
  border-radius: 15px;
}

.button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100%;
    height: 27px;
    text-align: center;
}

.button a:hover{
  box-shadow: 0 4px 15px rgb(245, 160, 160);
  color: black;
}

.icon a{
  color: black;
}

td:hover .icon{
  color: red;
}

.adminComponent{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
}

.form-group{
  padding: 2% 0;
}

.buttonAdmin{
  display: flex;
  justify-content: center;
}

.buttonAdmin input{
  width: 30%;
}

tbody tr td img{
  width: 100px;
  height: 100px;
}

/*footer*/

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/*bloques vista*/
.unseen{
  display: none!important;
}


@media (max-width: 1400px) {
  .contentMain{
    margin: 0px 4%;
    padding: 10% 2% 0 2%;
  }
}

@media (max-width: 1250px) {
  .unseen{
    display: block!important;
  }
  
  .seen{
    display: none!important;
  }

  ol, ul {
    padding-left: 2rem!important;
  }
}

@media (max-width: 850px) {
  .contentMain{
    margin: 0px 4%;
    padding: 15% 2% 0 2%;
  }
}

@media (max-width: 550px) {
  .contentMain{
    margin: 0px 4%;
    padding: 20% 2% 0 2%;
  }
}

@media (max-width: 450px) {
  .contentMain{
    margin: 0px 4%;
    padding: 25% 2% 0 2%;
  }

}