
<div class="col-md-12 mt-3">
    <h1>{{page_title}}</h1>
    <p>Modifica los mensajes de ussuario</p>
    <hr>
<!--
    <div class="alert alert-success" *ngIf="status == 'success' ">
        El registro se ha completado correctamente, <a [routerLink]="['/login']">Logueate aquí</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error' ">
        El registro no se ha completado correctamente. Introduzca correctamente los datos.
    </div>
-->

    <!--formulario de registro-->

    <img [src]="sanitizedImageUrl" alt="Imagen">

    <form class="col-md-5" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)"><!--variable ngform que llama a onsumir y le pasa los parametros del formulario-->

        <div class="form-group">
            <label class="titleWeight" for="user">Usuario: </label>
            <input type="text" name="user" id="user" placeholder="¿Cual quieres que sea tu nombre de usuario?" class="form-control" 
                    #user="ngModel" [(ngModel)]="userData.user" required pattern="[a-zA-Z0-9]+" >  <!-- enlazamos el valor de name diciendo que pertenece a user-name y ademas establecemos una validacion para el campo: pattern="[a-zA-Z]"-->
                    <small *ngIf="!user.valid && user.touched" class="invalid-feedback d-block"><!-- Si el campo que introducimo no es correcto saltara mensaje de error (con d-block se muestra el msj)-->
                        El nombre de usuario no es valido
                    </small>
        </div>

        <div class="form-group">
            <label class="titleWeight" for="userName">Nombre: </label>
            <input type="text" name="userName" id="userName" placeholder="¿Cual es tu nombre?" class="form-control"
                    #userName="ngModel" [(ngModel)]="userData.userName" required pattern="[a-zA-Z]+" > 
                    <small *ngIf="!userName.valid && userName.touched" class="invalid-feedback d-block">
                        Introduzca su nombre real
                    </small>
        </div>

        <div class="form-group">
            <label class="titleWeight" for="lastName">Apellidos: </label>
            <input type="text" name="lastName" id="lastName" placeholder="¿Cual es tu apellido" class="form-control"
            #lastName="ngModel" [(ngModel)]="userData.lastName" required pattern="[a-zA-Z]+" > 
                    <small *ngIf="!lastName.valid && lastName.touched" class="invalid-feedback d-block">
                        Introduzca sus apellidos reales
                    </small>
        </div>

        <div class="form-group">
            <label class="titleWeight" for="email">Correo Electrónico: </label>
            <input type="email" name="email" id="email" placeholder="¿Cual es tu correo electrónico?" class="form-control"
                    #email="ngModel" [(ngModel)]="userData.email" required email> 
                    <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                        Introduzca un correo electronico real
                    </small>
        </div>

        <div class="form-group">
            <label class="titleWeight" for="phoneNumber">Número de telefono: </label>
            <input type="text" name="phoneNumber" id="phoneNumber" placeholder="¿Cual es tu número de telefono?" class="form-control"
                #phoneNumber="ngModel" [(ngModel)]="userData.phoneNumber" required pattern="[0-9]+" minlength="9" maxlength="9"> 
                <small *ngIf="!phoneNumber.valid && phoneNumber.touched" class="invalid-feedback d-block">
                    Introduzca un numero de telefono correcto
                </small>
        </div>

        <div class="form-group">
            <label class="titleWeight" for="dni">DNI / pasaporte: </label>
            <input type="text" name="dni" id="dni" placeholder="¿Cual es tu dni?" class="form-control"
            #dni="ngModel" [(ngModel)]="userData.dni" required pattern="[a-zA-Z0-9]{8,15}"> 
                <small *ngIf="!dni.valid && dni.touched" class="invalid-feedback d-block">
                    Introduzca un dni real
                </small>
        </div>

   
        <div class="form-group">
            <label for="descripcion">Biografia </label>
            <textarea  name="descripcion" id="descripcion" placeholder="¿Cual es tu dni?" class="form-control"></textarea>
        </div>

     <!--Descripcion
        #descriprion="ngModel" [(ngModel)]="userData.descripcion"> 
        <div class="form-group">
            <label for="image">Imagen </label>
            <input type="file" name="image" class="form-control" placeholder="¿Cual es tu dni?">
        </div>
        -->

        <div class="form-group">
            <label for="img">Subir imagen </label>
            <input  type="file" name="img" id="img" (change)="subirFile($event)">
        </div>

        <div class="form-group">
            <input type="submit" value="Guardar cambios" class="btn btn-success" [disabled]="userEditForm.invalid"><!--no dejamos enviar-->
        </div>

    </form>
</div>
