<div class="adminComponent col-md-12 mt-3">
    <h1>Registrata una nuevo proveedor para el taller</h1>
  
    <div class="alert alert-success" *ngIf="status == 'success' ">
      El registro se ha completado correctamente
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error' ">
      El registro no se ha completado correctamente. Introduzca correctamente los datos.
    </div>
  
    <!--formulario de registro-->
    <form class="col-md-5 ml-0 pl-0" #registerServiceForm="ngForm" (ngSubmit)="onSubmit(registerServiceForm)">
  
        <div class="form-group">
            <label for="service">Nombre del servicio:</label>
            <input type="text" name="service" id="service" placeholder="¿Nombre del servicio?" class="form-control"
            #serviceName="ngModel" [(ngModel)]="serviceData.serviceName" required pattern="^[a-zA-Z0-9\sáéíóúÁÉÍÓÚüÜñÑ,.:;-]+$">
            <small *ngIf="!serviceName.valid && serviceName.touched" class="invalid-feedback d-block">
                Nombre no valido
            </small>
        </div>

        <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea name="description" id="description" placeholder="¿Descripción?" class="form-control"
              #description="ngModel" [(ngModel)]="serviceData.description" required
              pattern="^[a-zA-Z0-9\sáéíóúÁÉÍÓÚüÜñÑ,.:;-]+$"></textarea>
            <small *ngIf="!description.valid && description.touched" class="invalid-feedback d-block">
              Descripción no es válida
            </small>
        </div>

        <div class="form-group">
            <label for="price">Precio:</label>
            <input type="number" name="price" id="price" placeholder="¿Precio?" class="form-control"
              #price="ngModel" [(ngModel)]="serviceData.price" required>
            <small *ngIf="!price.valid && price.touched" class="invalid-feedback d-block">
              Precio no es válido
            </small>
        </div>
  
        <div class="form-group">
          <label for="serviceType">Tipo de servicio:</label>
          <input type="text" name="serviceType" id="serviceType" placeholder="Tipo de servicio" class="form-control"
            #serviceType="ngModel" [(ngModel)]="serviceData.serviceType" required>
          <small *ngIf="!serviceType.valid && serviceType.touched" class="invalid-feedback d-block">
            Tipo de servicio es requerido
          </small>
        </div>

        <div class="form-group">
            <label for="duration">Duration:</label>
            <input type="number" name="duration" id="duration" placeholder="¿Duracion en horas?" class="form-control"
              #duration="ngModel" [(ngModel)]="serviceData.duration" required>
            <small *ngIf="!duration.valid && duration.touched" class="invalid-feedback d-block">
                Duracion no valida
            </small>
        </div>
  
        <div class="buttonAdmin form-group">
            <input type="submit" value="Registrar" class="btn btn-success" [disabled]="registerServiceForm.invalid">
        </div>
  
        <div class="buttonAdmin form-group">
            <span class="btn btn-success" [routerLink]="['/services']" > Volver atrás</span>
        </div>
  
    </form>
  </div>
