<div class ="container">

    <div class="headerAdmin"> 
      <h1>Listado de vehículos promocionados</h1>
      <span class="button"><a [routerLink]="['/addUsedVehicle']"> Añadir nuevo vehículo </a></span>
    </div>
  
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>ID vehículo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Matricula</th>
            <th>Distancia recorrida</th>
            <th>Id usuario propietario</th>
            <th>Color</th>
            <th>Precio</th>
            <th>Año</th>
            <th>Distancia</th>
            <th>Consumo</th>
            <th>Velocidad Punta</th>
            <th>Aceleracion</th>
            <th>Emisiones</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles; let i = index">
            <ng-container *ngIf="usedVehicle[i]">
              <td>{{ vehicle.id_vehicle }}</td>
              <td>{{ vehicle.trademark }}</td>
              <td>{{ vehicle.model }}</td>
              <td>{{ vehicle.registration }}</td>
              <td>{{ vehicle.mileage }}</td>
              <td>{{ vehicle.id_user }}</td>
              <td>{{ usedVehicle[i].color }}</td>
              <td>{{ usedVehicle[i].price }}</td>
              <td>{{ usedVehicle[i].year }}</td>
              <td>{{ usedVehicle[i].mileage }}</td>
              <td>{{ usedVehicle[i].consumo }}</td>
              <td>{{ usedVehicle[i].velocidad }}</td>
              <td>{{ usedVehicle[i].aceleracion }}</td>
              <td>{{ usedVehicle[i].emisiones }}</td>
              <td [routerLink]="['/updateUsedVehicle']" [queryParams]="{ id: usedVehicle[i].id_usedVehicle }">
                <span class="icon">
                  <i class="fas fa-pencil-alt"></i>
                </span>
              </td>
              <td (click)="deleteVehicle(usedVehicle[i].id_usedVehicle)">
                <span class="icon">
                  <i class="fas fa-trash-alt"></i>
                </span>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

