.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid-item {
  padding: 10px;
  text-align: center;
  text-align: center; 
  position: relative; 
  overflow: hidden; 
  transition: padding 0.6s ease;
  transition: border-color 0.6s ease;
}

.grid-item img {
  max-width: 100%;
  height: 250px;
  object-fit: contain;
  opacity: 1;
}

.grid-item:hover img{
  opacity: 0.6;
  transition: opacity 0.8s ease;
}


.details{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

@media (max-width: 850px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.buttonAdmin a{
  width: 150px;
  background-color: #E96348;
  border: 1px solid sienna;
  font-weight: 700;
}

.buttonAdmin:hover a {
    width: 250px;
    transition: width 0.6s ease;
}

.headerAdmin{
  padding-top: 6%;
}